@model LoginViewModel

<div class="form-container">
    <form class="form-login" asp-action="Sign" method="post">
        <h1>Login</h1>

        <div asp-validation-summary="All" class="error"></div>

        <div class="form-group">
            <label asp-for="@Model.Email"></label>
            <input asp-for="@Model.Email" placeholder="E-mail">
        </div>

        <div class="form-group">
            <label asp-for="@Model.Password"></label>
            <input asp-for="@Model.Password" placeholder="Senha">
        </div>

        <button type="submit">Entrar</button>

        @if (TempData.ContainsKey("Error"))
        {
            <div class="error" style="text-align: center;">
                @TempData["Error"]
            </div>
        }

        <div class="create-account">
            <p>Ainda nao tem conta?</p>
            <a asp-action="Register">Cadastra-se</a>
        </div>

    </form>
</div>